@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14% 21%;
    --card: 60 56% 95%;
    --card-foreground: 20 14% 21%;
    --popover: 60 56% 95%;
    --popover-foreground: 20 14% 21%;
    --primary: 120 25% 45%;
    --primary-foreground: 60 33% 98%;
    --secondary: 60 10% 80%;
    --secondary-foreground: 20 14% 21%;
    --muted: 60 10% 85%;
    --muted-foreground: 60 7% 45%;
    --accent: 19 56% 41%;
    --accent-foreground: 60 33% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 10% 80%;
    --input: 60 10% 85%;
    --ring: 120 25% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 5%;
    --foreground: 60 33% 98%;
    --card: 20 14% 8%;
    --card-foreground: 60 33% 98%;
    --popover: 20 14% 5%;
    --popover-foreground: 60 33% 98%;
    --primary: 120 25% 55%;
    --primary-foreground: 120 25% 98%;
    --secondary: 20 14% 15%;
    --secondary-foreground: 60 33% 98%;
    --muted: 20 14% 15%;
    --muted-foreground: 60 5% 63%;
    --accent: 19 56% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 15%;
    --input: 20 14% 15%;
    --ring: 120 25% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
